$primary_clr: #D65CD6;
$gray_clr: #F4F4F4;
$gray_text_clr: #404043;
$hover_glimpse: #e0e0e07c ;
$light_blue: #97c1ff;
$chat_other_clr: rgb(209, 209, 209) ;
$chat_self_clr: rgb(165, 165, 247);
$blue_clr: #1565c0;
$red_clr: rgb(217, 87, 103);
$light_gray: #E2E2E2;