@import "./master"; 
.auth-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    border-radius: 4px;
    padding: 15px;
    background-color: white;
    z-index: 9999;
    .sign_in_form{
        padding-top: 10px;
    }
}

.shadow{
    z-index: 999;
    position: absolute;
    inset: 0;
    background-color: transparentize($gray_clr, 0.5);
}